---
---
@import "reset.scss";

body {
  font-family: sans-serif;
}

.example {
  padding: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px dashed #ccc;

  h3 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }

  d-topics-list {
    margin-top: 1em;
    display: block;

    iframe {
      width: 100%;
    }
  }

  code {
		display: block;
    margin-top: 1em;
    background-color: #efefef;
    padding: 0.5em;
    font-family: monospace;
  }
}
